.linkadminheader{
    padding-top: 40px;
    text-align: center;
    margin: auto;
    font-weight: bold;
}

.trangchu{
    padding-left: 10px;
}

.tieude{
    text-align: center;
}

.quanliloai{
    padding-left: 150px;
}

.quanlisanpham{
    padding-left: 150px;
}

.quanlitaikhoan{
    padding-left: 150px;
}

.quanlihoadon{
    padding-left: 150px;
}