.product-list {
    display: flex;
    justify-content: center;
    padding: 10px;
    }
    
    .product-list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* Khoảng cách giữa các sản phẩm */
    list-style: none;
    padding: 0;
    margin: 0;
    }
    
    .product-item {
        border: 1px solid #ccc;
        flex: 1 0 18%;
        max-width: 18%;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column; /* Thiết lập để sắp xếp theo cột */
        height: 420px; /* Đảm bảo chiếm đầy chiều cao */
    }
    
    .product-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    }
    
    @media (max-width: 768px) {
    .product-item {
    flex: 1 0 48%;
    /* Điều chỉnh chiều rộng khi trên màn hình nhỏ hơn */
    max-width: 48%;
    }
    }
    
    @media (max-width: 480px) {
    .product-item {
    flex: 1 0 100%;
    /* Sản phẩm hiển thị dạng hàng dọc trên màn hình rất nhỏ */
    max-width: 100%;
    }
    }
    
    .priceproduct {
    margin-bottom: 5px;
    
    }
    

    .btn-add-to-cart {
    border: 1px solid #ccc;
    }
    
    .btn-buy-now {
    border: 1px solid #ccc;
    }
    
    .priceandbutton {
        margin-top: auto; /* Đẩy phần này xuống dưới cùng */
        padding: 10px; /* Thêm khoảng cách cho phần này */
         /* Có thể thêm màu nền để phân biệt */
    }
    
    .button-group {
        display: flex;
        justify-content: space-between; /* Căn giữa các nút */
        background-color: #b40606;
    }