.product-detail {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.product-info {
    display: flex;
    margin-bottom: 20px;
}

.image-container {
    flex: 1;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.details-container {
    flex: 1;
    padding-left: 20px;
}

.quantity-control {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.quantity-control button {
    margin: 0 5px;
    padding: 5px 10px;
}

.add-to-cart-button {
    background-color: #4297DE;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.add-to-cart-button:hover {
    background-color: #88D5F4;
}

.related-products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.related-product-item {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(20% - 20px); /* Mỗi sản phẩm chiếm 20% */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.related-product-item img {
    max-width: 100%;
    height: auto;
}

.related-product-item h4 {
    text-align: center;
}
